<h1>Listing booths</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Pays</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @booths.each do |booth| %>
  <tr>
    <td><%= booth.nom %></td>
    <td><%= booth.pays %></td>
    <td><%= booth.description %></td>

    
    <td><%= link_to 'Show', booth %></td>
    <% if can? :update, @booth %>
    <td><%= link_to 'Edit', edit_booth_path(booth) %></td>
    <% end %>
    <% if can? :update, @booth %>
    <td><%= link_to 'Destroy', booth, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, @booth %>
<%= link_to 'New Booth', new_booth_path %>  
<% end %>
