<%= form_for @contact, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :poste, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :poste, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :prenom, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :prenom, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nom, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nom, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telephone, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :telephone, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descritpion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descritpion, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :primary_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :primary_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :booth_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :booth_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contacts_path, :class => 'btn' %>
  </div>
<% end %>
